@model IEnumerable<LabNet.Models.Emotion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Face.FaceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmotionType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Face.FaceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmotionType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmotionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmotionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmotionID })
        </td>
    </tr>
}

</table>
